{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/securite/login.css') }}">
{% endblock %}




{% block body %}
    {% if error %}
        <div class="alert alert-dark text-center" style="color: black">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}
    {% for message in app.flashes('notice') %}
        <div class="alert alert-dark text-center" role="alert" style="color: black">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('message') %}
        <div class="alert alert-dark text-center" style="color: black">
            {{ message }}
        </div>
    {% endfor %}

    <div class="containerLogo">
        <div class="containerImg">
            <img id="logo" src="{{ asset('assets/img/LogoZapPas.png') }}" alt="Logo" >
        </div>
        <div class="containerImg">
            <img id="ECN" src="{{ asset('assets/img/ECN.png') }}" alt="Logo-ECN">
        </div>
    </div>


    <div class="imagefond">
        <form id="formulaire" method="post">

            <input type="email" value="{{ last_username }}" placeholder="E-mail" name="email" id="inputEmail" class="form-control" required autofocus>
            <input type="password" placeholder="Mot de passe" name="password" id="inputPassword" class="form-control" required>
            <span class="psw"><a href="{{ path('app_forgotten_password') }}">Identifiant ou mot de passe oublié?</a></span>
            <br>
            <input type="hidden" class="btn btn-primary" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            <button class="btn btn-lg btn-warning" type="submit">
             Se connecter
            </button>
        </form>
    </div>
    <div class="containerImgShakeTheFuture">
        <img class="imageflottante2" src="{{ asset('assets/img/Shake.png') }}" alt="Shake-the-future">
    </div>

{% endblock %}

{#                <input type="checkbox" name="_remember_me"> Remember me#}


{#    <button class="btn btn-lg btn-primary" type="submit">#}
{#        Sign in#}
{#    </button>#}
{#</form>#}
{#{% endblock %}#}
    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html
style="color: whitesmoke"
        <div class="checkbox mb-3">
            <label>{% block body %}
    <img class="logo" src="{{ asset('assets/img/LOGOZAP-PAS.png') }}" alt="Logo">
    <img id="container1" class="ECN" src="{{ asset('assets/img/ECN.png') }}" alt="Logo-ECN">
    <img id="container1" class="imageflottante2" src="{{ asset('assets/img/Shake.png') }}" alt="Shake-the-future">

    <form id="formulaire" method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}



    <input type="email" value="{{ last_username }}" placeholder="E-mail" name="email" id="inputEmail" class="form-control" required autofocus>


    <input type="password" placeholder="Mot de passe" name="password" id="inputPassword" class="form-control" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
    <span class="psw"><a href="#">Identifiant ou mot de passe oublié?</a></span>
    <br>
    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}
{#    {% if error %}#}
{#        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>#}
{#    {% endif %}#}

{#    {% if app.user %}#}
{#        <div class="mb-3">#}
{#            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>#}
{#        </div>#}
{#    {% endif %}#}

{#    <input type="hidden" name="_csrf_token"  value="{{ csrf_token('authenticate') }}"  >#}
