<script src="https://kit.fontawesome.com/4ddbd1450d.js" crossorigin="anonymous"></script>
<nav class="nav" role="navigation">
    {#
    <div class="case-logo">
        <img class="logo" alt="" src="{{ asset('/assets/img/LogoEcn.png') }}" href="{{ path('calendrier_index') }}"/>
    </div>
#}
    <div class="case-link">
        <ul class="case-link">
            <li class="bouton-link has-children">
                <a href="{{ path('calendrier_index') }}"><i class="far fa-calendar-alt"></i> Calendrier</a>
                <ul class="sous-menu">
                    {% for cal in calendriers%}
                        <li><a href="/calendrier/{{ cal.id }}" > {{cal.nom}} </a></li>
                    {% endfor %}
                </ul>
            </li>
            <li class="has-children bouton-link">
                <a href="#"><i class="fas fa-user-clock"></i> Ohlala</a>
                <ul class="sous-menu">
                    <form class="form-navbar-ohlala" method="post" action="{{ path('ohlala') }}">
                            <li > <a class="elmt" for="checkbox" >
                                    <input type="checkbox" name="checkbox" id="checkbox-retard" class="check-retard" value="retard"  onclick="afficheFormRetard(this)"> Retard
                                </a>
                            </li>
                            <li id="form-retard">
                                <label for="appt"> Durée :</label>
                                <div id="appt" class="container-duree">
                                    <input type="number" class="duree"  name="date" value="" />
                                    <select name="unite-temp" id="unite-temp-select">
                                        <option value="min">min</option>
                                        <option value="heure">H</option>
                                    </select>
                                </div>
                                <label> Jour : </label>
                                <div class="container-duree">
                                    <input type="date" min="01-01-2020" class="jour" name="jour" value="">
                                </div>
                            </li>

                            <li> <a class="elmt" for="checkbox" >
                                    <input type="checkbox" name="checkbox" id="checkbox-absence" class="check-absence" value="absence" onclick="afficheFormAbsence(this)"> Absence
                                </a>
                            </li>
                            <li id="form-absence">
                                    <label for="start">du</label>
                                    <input type="date" id="start" name="trip-start" value="2020-02-10" min="2010-01-01" max="2050-12-31"><br>
                                    <label for="end">au</label>
                                    <input type="date" id="end" name="trip-end" value="2020-02-10" min="2010-01-01" max="2050-12-31">
                                </a>
                            </li>
                        <li>
                            <input  type="submit" class="submit-retard-absence" value="Envoyer"><br>
                        </li>
                    </form>
                </ul>
            </li>
            {% if userEnCours.getRoles()[0] == 'ROLE_ADMIN' or userEnCours.getRoles()[0] == 'ROLE_SUPER_ADMIN'%}
                <li class="bouton-link">
                    <a href="{{ path('calendrier_new') }}"><i class="fas fa-user-edit"></i> Gérer</a>
                </li>
            {% endif %}
            <li class="bouton-link has-children espace-perso">
                <a id="espace-perso-a"><i class="fas fa-sign-out-alt"></i> {{ app.user.prenom}} {{ app.user.nom}}</a>
                <ul class="sous-menu">
                    <a class="li-sous-menu" href="{{ path('app_logout') }}"> Deconnexion </a>
                </ul>
            </li>
            <li class="bouton-link bouton-param">
                <a id="" href="{{ path('user_parameters') }}"><i class="fas fa-cog"></i></a>
            </li>

        </ul>
    </div>
</nav>
{% block javascripts %}
    <script src="{{ asset('assets/js/navbar.js') }}"></script>
{% endblock %}
