 {#{{ form_start(form) }}#}

    {{ form_start(form) }}
    {{ form_widget(form) }}
{#        {{ form_errors(form) }}#}
{#            {{ form_row(form.name) }}#}
{#            {{ form_row(form.url) }}#}
{#    {{ form_end(form) }}#}

<form>

    <div class="my-custom-class-for-errors">
    </div>
    <div class="row">
        <div class="col">
        </div>
        <div class="col" id="some-custom-id">
        </div>
    </div>

    <div class="form-style-5">
        <div class="">
{#            <input type="text" name="field1" placeholder="{{ form_widget(form.nom) }}">#}
        </div>
        <div class="">
            <input type="text" name="field1" placeholder="URL">
        </div>
    </div>

    <div class="container">
        <div class="form-style-5">
            <legend><span class="number">1</span> Création d'élèves</legend>
{#                {{ include('users/_form.html.twig') }}#}
            <input type="text" name="field1" placeholder="Nom" id="nomEleve">
            <input type="text" name="field2" placeholder="Prénom" id="prenomEleve">
            <input type="email" name="field2" placeholder="E-mail" id="emailEleve">
            <input type="button" value="Ajouter un élève" onclick="add_li('ma_liste')" />
        </div>
        <div class="form-style-5">
            <legend><span class="number">1</span> Elèves enregistrés</legend>
            <ul id="ma_liste">
            </ul>
        </div>
    </div>

    <div class="container">
        <div class="form-style-5">
            <legend><span class="number">2</span> Création de Formateurs</legend>
            ici il faut mettre le résultat de la requete sql pour récupérer les personnes déja enregistré en formateur
{#            <select id="" name="field4">#}
{#                <optgroup label="">#}
{#                    <option value="">Nom formateur</option>#}
{#                    <option value="">Nom formateur</option>#}
{#                </optgroup>#}
{#            </select>#}
            <input type="text" name="field1" placeholder="Nom" id="nomFormateur">
            <input type="text" name="field2" placeholder="Prénom" id="prenomFormateur">
            <input type="email" name="field2" placeholder="E-mail" id="emailFormateur">
            <input type="button" value="Ajouter un formateur" onclick="add_li_form('ma_liste_formateur')" />
        </div>

        <div class="form-style-5">
            <legend><span class="number">2</span> Formateurs enregistrés</legend>
            <ul id="ma_liste_formateur">
            </ul>
        </div>
    </div>

    <div class="container">
        <div class="form-style-5">
            <legend><span class="number">3</span> Création Personnels administratifs</legend>
            <select id="" name="field4">
                <optgroup label="">
                    <option value="">Nom  administratif</option>
                    <option value="">Nom  administratif</option>
                </optgroup>
            </select>
            <label for=""></label>
            <input type="text" name="field1" placeholder="Nom">
            <input type="text" name="field2" placeholder="Prénom">
            <input type="email" name="field2" placeholder="E-mail">
            <input type="button" value="Valider" />

        </div>

        <div class="form-style-5">
            <legend><span class="number">3</span> Personnels administratifs enregistrés</legend>
        </div>
    </div>

    <div class="form-style-5">
{#        <button class="button" type="submit">{{ button_label|default('Save') }}</button>#}
    </div>

</form>
<script src="{{ asset('assets/js/page/page-crea-formulaire.js') }}"></script>

{{ form_end(form) }}
