{% extends 'basecss.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}New Calendrier{% endblock %}
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/navbar-param/navbar.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/admin/calendrierNew.css') }}">
    {% endblock %}

{% block body %}
    {% include 'navbar/navbaar.html.twig' %}
    <h1 style="text-align: center; padding-bottom: 5px">Formation</h1>
<h2 style="text-align: center; padding-bottom: 5px">Calendrier en cours</h2>
<ul style="text-align: center;">
    {% for calendriers in calendriers %}
        <a href="{{ path('calendrier_edit',{'id': calendriers.id}) }}" ><input type="button" class="btn btn-warning" style="margin-bottom: 10px" value="{{calendriers.nom|e}}"></a>
    {% endfor %}
</ul>
        <h2 style="text-align: center">Ajouter un Calendrier</h2>
    <div style="align-items: center; margin: 0 40%;">
                 {{ form(form) }}
    </div>
        <h2 style="text-align: center; padding-bottom: 2%">Participants</h2>


    <div style="align-items: center; display: flex; flex-direction : column; margin: 0 40% ;">
        <a href="{{ path('users_new') }}"><input type="button" class="btn btn-outline-primary" style="margin-bottom: 10px" value="Créer un nouvel accès"></a>
        <a href="{{ path('users_index') }}"><input type="button" class="btn btn-outline-primary" style="margin-bottom: 10px" value="Voir les utilisateurs"></a>
        <a href="{{ path('calendrier_index') }}"><input type="button" class="btn btn-outline-primary" value="Retour au calendrier"></a>
    </div>

{% endblock %}
