{% extends 'basecss.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}New Calendrier{% endblock %}
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/navbar-param/navbar.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/admin/calendrierNew.css') }}">
    {% endblock %}

{% block body %}
    {% include 'navbar/navbaar.html.twig' %}
    <h1 style="text-align: center; padding-bottom: 5px">Formation</h1>
<h2 style="text-align: center; padding-bottom: 5px">Calendrier en cours</h2>
<ul style="text-align: center;">
    {% for calendriers in calendriers %}
            <a href="./{{calendriers.id|e}}/edit">{{calendriers.nom|e}}</a>
    {% endfor %}
</ul>
        <h2 style="text-align: center">Ajouter un Calendrier</h2>
    <div style="align-items: center; margin: 0 40%;">
                 {{ form(form) }}
    </div>
        <h2 style="text-align: center; padding-bottom: 2%">Participants</h2>
    <div style="align-items: center; margin: 0 40%;">
                  <a href="{{ path('users_new') }}">Créer un nouvel accès</a>
    <div>
    <div>
         <a class="btn-primary btn" href="{{ path('calendrier_index') }}">Retour au calendrier</a>
    </div>
{% endblock %}
