{% extends 'base.html.twig' %}
{% block title %}Calendrier{% endblock %}

{% block body %}
    {% include 'navbar/navbaar.html.twig' %}

        <h1>{{ calendrier.nom }}</h1>
    <div class="filter" >
        <div style="margin-right: 2vh">
            <label for="intervenant">Intervenant</label>
            <select  class="select-intervenant" id="select_intervenant">
                {% for mailIntervenant in ar_mailIntervenant %}
                    <option class="option-intervenant" value="{{ mailIntervenant }}">{{ mailIntervenant }}</option>
                {% endfor %}
            </select>
        </div>
        <div style="margin-left: 2vh" >
            <label for="title_selector"> Titre </label>
            <select class="select-titre" id="title_selector" style="max-width: 30vh">
                {% for event in ar_events %}
                    <option class="option-titre" value="{{ event.getMatiere() }}">{{ event.getMatiere() }}</option>
                {% endfor %}
            </select>
        </div><br>
    </div><br>
    <div class="filter">
        {% for cal in calendriers %}
            <div style="margin: 2vh">
                <label for="{{ cal.id }}">{{ cal.nom }}</label>
                <input type="checkbox" name="{{ cal.id }}" id="{{ cal.id }}"
                        {% if cal.id == calendrier.id %}
                            checked
                        {% endif %}
                >

            </div>
        {% endfor %}
    </div><br>
    <div class="filter">
        <input type="button" id="btn-filtrer" value="filtrer">
    </div>


    <div id="calendar-holder" style="margin: 5vh; display: flex; flex-direction: column; height: 60vh"></div>


    {% block stylesheets %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/list@4.1.0/main.min.css">
        <link href="{{ asset('assets/css/filtres/filters.css') }}" rel="stylesheet">
    {% endblock %}
    {% block javascripts %}
        <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/interaction@4.1.0/main.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/list@4.1.0/main.min.js"></script>

        <script type="text/javascript">

            document.addEventListener('DOMContentLoaded', () => {
                const calendarEl = document.getElementById('calendar-holder');
                const calendar = new FullCalendar.Calendar(calendarEl, {
                    dateClick: function() {
                        alert('a day has been clicked!');
                    },
                    height: "parent",
                    defaultView: 'timeGridWeek',
                    editable: false,
                    locale: 'fr',
                    // on passe en francais les bouttons
                    buttonText: {
                        today: "Aujourd'hui",
                        month: "Mois",
                        week: 'Semaine',
                        day: 'Jour',
                        list: "Liste des cours"
                    },
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth',
                    },
                    weekends: false,
                    firstDay: 1,
                    plugins: ['interaction', 'dayGrid', 'timeGrid', 'list'], // https://fullcalendar.io/docs/plugin-index
                    timeZone: 'UTC',
                    businessHours: {
                        // days of week. an array of zero-based day of week integers (0=Sunday)
                        daysOfWeek: [1, 2, 3, 4, 5],

                        startTime: '08:00', // a start time (10am in this example)
                        endTime: '20:00', // an end time (6pm in this example)
                    },

                });

                //**********************************************************************//
                //Application des filtres au click sur le bouton "filtrer"
                document.getElementById('btn-filtrer').onclick = (function () {

                    // suppression des calendriers existant et ajout de ceux selectionnés
                    calendar.removeAllEventSources();
                    {% for cal in calendriers %}
                        if (document.getElementById({{ cal.id }}).checked) {
                            calendar.addEventSource("{{ path('api_liste', {id: cal.id }) }}");
                        }
                    {% endfor %}
                })
                //*************************************************************************//
                calendar.addEventSource("{{ path('api_liste', {id: calendrier.id }) }}");
                calendar.render();

            });

        </script>

    {% endblock %}
{% endblock %}

