{% extends 'base.html.twig' %}

{% block title %}Calendrier{% endblock %}

{% block body %}
    {% include 'composants/navbaar.html.twig' %}
    <h1>{{ calendrier.nom }}</h1>
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/navbar-param/navbar.css') }}">
    <input type="hidden" class="js-url" data-url="http://localhost:8000/api/liste/{{ calendrier.id }}"/>
    <div id="calendrier"></div>



    {# fichier js #}
    {% block javascripts %}
        <script src="{{ asset('assets/js/core/main.js') }}"></script>
        <script src="{{ asset('assets/js/daygrid/main.js') }}"></script>
        <script src="{{ asset('assets/js/timegrid/main.js') }}"></script>
        <script src="{{ asset('assets/js/list/main.js') }}"></script>
        <script src="{{ asset('assets/js/script.js') }}"></script>
    {% endblock %}
{% endblock %}
{#    {{ include('calendrier/_delete_form.html.twig') }}#}