{% extends 'base.html.twig' %}
{% block title %}Calendrier{% endblock %}

{% block body %}
    {% include 'navbar/navbarBootstrap.html.twig' %}
    <h2 style="margin-top: 3vh; text-align: center">{{ calendrier.nom }}</h2>

{#          formulaire de filtres                                                                                 #}
    <form class="form-filtre form-group">

    {#        Container des selects#}
        <div id="div-filtre-select">

        {#        Select de l'intervenant   #}
            <label for="intervenant">Intervenant</label>
            <select  class="select-intervenant select-filtre" id="select_intervenant">
                <option class="option-intervenant" value="0" selected>
                    --- Choisir un intervenant ---
                </option>
                {% for mailIntervenant in ar_mailIntervenant %}
                    <option class="option-intervenant" value="{{ mailIntervenant }}">
                        {{ mailIntervenant }}
                    </option>
                {% endfor %}
            </select>
        {#        FIN / Select de l'intervenant   #}

        {#        select sur la matière #}
            <label for="title_selector"> Titre </label>
            <select class="select-titre select-filtre" id="title_selector">
                <option class="option-titre" value="0" selected>
                    --- Choisir une matière ---
                </option>
                {% for event in ar_events %}
                    <option class="option-titre" value="{{ event.getMatiere() }}">
                        {{ event.getMatiere() }}
                    </option>
                {% endfor %}
            </select>
        {#        FIN / select sur la matière #}
        </div>
    {#       FIN / Container des selects#}

    {#        Container checkbox sur les calendriers  #}
        <div class="container-checkbox">
        {% for cal in calendriers %}
            <div class="custom-control custom-switch">
                <input class="custom-control-input" type="checkbox" name="{{ cal.id }}" id="{{ cal.id }}"
                        {% if cal.id == calendrier.id %}
                            checked
                        {% endif %}
                >
                <label id="label-calendrier" class="custom-control-label" for="{{ cal.id }}">{{ cal.nom }}</label>
            </div>
        {% endfor %}
        </div>
    {#       FIN / Container checkbox sur les calendriers  #}

    {#        bouton de soumission du formulaire#}
        <div>
            <input type="button" class="btn btn-warning" id="btn-filtrer" value="filtrer">
        </div>
     {#        FIN / bouton de soumission du formulaire#}
    </form>
{#          FIN /formulaire de filtres

{#    div dans laquelle sera affichée le calendrier                                                                     #}
    <div id="calendar-holder" style="margin: 5vh; display: flex; flex-direction: column; "></div>


    {% block stylesheets %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/list@4.1.0/main.min.css">
        <link href="{{ asset('assets/css/filtres/filters.css') }}" rel="stylesheet">
    {% endblock %}
    {% block javascripts %}
        <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/interaction@4.1.0/main.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/list@4.1.0/main.min.js"></script>

        <script type="text/javascript">

            document.addEventListener('DOMContentLoaded', () => {
                const calendarEl = document.getElementById('calendar-holder');
                const calendar = new FullCalendar.Calendar(calendarEl, {
                    height: 650,
                    defaultView: 'timeGridWeek',
                    editable: false,
                    locale: 'fr',
                    // on passe en francais les bouttons
                    buttonText: {
                        today: "Aujourd'hui",
                        month: "Mois",
                        week: 'Semaine',
                        day: 'Jour',
                        list: "Liste des cours"
                    },
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'dayGridMonth,timeGridWeek,timeGridDay,listYear',
                    },
                    weekends: false,
                    firstDay: 1,
                    plugins: ['interaction', 'dayGrid', 'timeGrid', 'list'], // https://fullcalendar.io/docs/plugin-index
                    timeZone: 'UTC',
                    businessHours: {
                        daysOfWeek: [1, 2, 3, 4, 5],
                        startTime: '08:00',
                        endTime: '20:00',
                    },
                    nowIndicator: true,
                    maxTime: "22:00:00",
                    minTime: "07:00:00",
                    eventColor: '#fab600',
                    eventTextColor: '#102648',
                    eventBorderColor: "#102648",
                    eventRender: function(info){
                        // filtre sur le titre des évènements
                        if(document.getElementById('title_selector').value !== "0"){
                            if(info.event.title !== document.getElementById('title_selector').value){
                                 info.event.remove();
                             }
                         }

                        // filtre sur le mail des intervenants
                        if(document.getElementById('select_intervenant').value !== "0"){
                            if(info.event.extendedProps.intervenant !== document.getElementById('select_intervenant').value){
                                info.event.remove();
                            }
                        }
                    }


                });

                //**********************************************************************//
                //Application des filtres au click sur le bouton "filtrer"
                document.getElementById('btn-filtrer').onclick = (function () {
                    // suppression des calendriers existant et ajout de ceux selectionnés
                    calendar.removeAllEventSources();
                    {% for cal in calendriers %}
                        if (document.getElementById({{ cal.id }}).checked) {
                            calendar.addEventSource("{{ path('api_liste', {id: cal.id }) }}");
                        }
                    calendar.rerenderEvents();

                    {% endfor %}
                })
 //               *************************************************************************//

                calendar.addEventSource("{{ path('api_liste', {id: calendrier.id }) }}");

                calendar.render();
                let someEvents = calendar.getEvents().filter(function(event) {
                    return event.title === 'Essai 4 johanna';
                });

                
            });
            // document.getElementById('select-intervenant').onchange = (function () {
            //     alert("ca marche");
            // });


        </script>

    {% endblock %}
{% endblock %}

