{% extends 'basecss.html.twig' %}

{% block title %}Users index{% endblock %}

{% block body %}
    {% include 'navbar/navbarBootstrap.html.twig' %}
    <h1>Liste des utilisateurs Zap'Pas</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>
                    <a href="{{ path('users_show', {'id': user.id}) }}"><input type="button" class="btn btn-primary btn-sm"  value="Voir"></a>
                    <a href="{{ path('users_edit', {'id': user.id}) }}"><input type="button" class="btn btn-primary btn-sm"  value="Modifier"></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div style="align-items: center; display: flex; flex-direction : column; margin: 0 40% ;">
        <a href="{{ path('users_new') }}"><input type="button" class="btn btn-outline-primary" style="margin-bottom: 10px" value="Ajouter un utilisateur"></a>
        <a href="{{ path('calendrier_new') }}"><input type="button" class="btn btn-outline-primary" value="Retour à l'edition calendrier"></a>
    </div>
{% endblock %}
